@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');


/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Poppins', sans-serif;
*/


*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.logo h1{
    /* font-family: 'Poppins', sans-serif; */
    font-size: 1.5rem;
    font-weight: 0;
}

.head{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    text-align: center;
}

.menus{
    margin: auto 0;
}

.menus ul{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.menus ul li{
    list-style: none;
    padding: 0rem 1rem;
}

.head{
    color: rgb(0, 0, 64);
}

.main{
    height: 75vh;
}

/* .main::before{
    content: "";
    right: -100%;
    top: 20%;
    width: 250%;
    height: 100%;
    z-index: -1;
    background-color: #e8ecf5;
    transform: skewY(139deg);
} */

.main-content{
    margin-top: 4rem;
}

.main-content h1{
    font-weight: 500;
    text-align: left;
}

.main-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 8rem;
    gap: 6rem;
    font-size: 1.5rem;
}

.main-photo{
    width: 70%;
}

.main-photo img{
    width: 100%;
    border-radius: 10px;
}

.main-content p{
    font-family: 'Montserrat', sans-serif;
    color: rgb(9, 9, 110);
    padding: 1rem 0;
    font-weight: 300;
    font-size: 1.4rem;
}

.btn{
    padding: 0.5rem 0.8rem;
    border-radius: 3px;
    background-color:rgb(9, 9, 110);
    margin: 0.2rem 0; 
}

.btn a{
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}
